{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    <h2>Active Listings</h2>
    <div class="flex-container">
        {%for listing in listings%}
            <div class="flex-item">
                <a href="{% url 'listing_by_id' listing.id %}">
                    <div class="item">
                        <div class="img-container">
                            <img src="{{listing.img_link}}" alt="{{listing.title}}">
                        </div>
                        <div class="other-stuff-container">
                            <h4>{{listing.title}}</h4>
                            <h6>Category: {{listing.category}}</h6>
                        
                            <h5>Starting Bid: {{listing.starting_bid}}</h5>
                            <h5>Current Bid: {{listing.current_bid}}</h5>
                            <p>{{listing.description}}</p>
                        </div>
                    </div>
                    
                </a>
            </div>
        {%endfor%}
    
    </div>
    
{% endblock %}