{% extends "auctions/layout.html" %}

{% block title %}
{{listing.title}}
{% endblock %}

{% block body %}

    <h2>{{listing.title}}</h2>
    {% if listing.img_link %}
        <img src="{{listing.img_link}}" alt="{{listing.title}} Image">
    {% endif %}
    <h4>Category: {{listing.category}}</h4>
    <h4>Starting Bid: {{listing.starting_bid}}</h4>
    <h4>Current Bid: {{listing.current_bid}}</h4>
    <h4>Description:</h4>
    <p>{{listing.description}}</p>
    {% if user.is_authenticated %}
        <form action="{% url 'watchlist' %}" method="post">
            {% csrf_token %}
            <!-- <h2>{{x}}</h2> -->
            {% if on_watchlist %}
                <input class="btn btn-danger" type="submit" value="Remove from watchlist">
                <!-- <input type="hidden" name="on_watchlist" value="True"> -->
            {% else %}
                <input class="btn btn-success" type="submit" value="Add to watchlist">
                <!-- <input type="hidden" name="on_watchlist" value="False"> -->
            {% endif %}
            <input type="hidden" name="on_watchlist" value="{{on_watchlist}}">
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
        </form>
        {% if notowner%}
        
            <form action="{% url 'listing_by_id' listing.id %}" method="post">
                {% csrf_token %}
                <input min="{{listing.current_bid}}" type="number" name="user_bid" value="Bid" placeholder="Place your bid">
                <input class="btn btn-success" type="submit" value="Bid">
            </form>
        {% else %}
            <form action="{% url 'listing_by_id' listing.id %}" method="post">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Close Bid">
            </form>
        {% endif %}

    {% endif %}
{% endblock %}