{% extends "network/layout.html" %}

{% block body %}
    <h1>Profile</h1>
    <h2 id="user">{{username}}</h2>
    <li>Followers: {{followers}}</li>
    <li>Following: {{following}}</li>

    {% if other_person %}
        <div id="following_status"></div>
    {% endif %}

    <h2>Posts</h2>
    {% for post in posts %}
        <h4>{{post.user}}</h4>
        <p>{{post.post}}</p>
    {% endfor %}
    <center>
        {%if posts.has_previous %} {# whether the previous page exists #}
            <a class="btn btn-primary" href="?page={{posts.previous_page_number}}">Previous</a> {# link to the prev page #}
        {% endif %}
        <span>{{posts.number}}</span> {# the current page number #}
        
        {%if posts.has_next %} {# whether the next page exists #}
            <a class="btn btn-primary" href="?page={{posts.next_page_number}}">Next</a> {# link to the next page #}
        {% endif %}
    </center>
{% endblock %}